# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config CPU_FAM_EFR32FG1P
    bool
    select CPU_CORE_CORTEX_M4F
    select CPU_COMMON_EFM32

## CPU Models
config CPU_MODEL_EFR32FG1P132F128GM32
    bool
    select CPU_FAM_EFR32FG1P

config CPU_MODEL_EFR32FG1P131F128GM48
    bool
    select CPU_FAM_EFR32FG1P

config CPU_MODEL_EFR32FG1P133F64GM48
    bool
    select CPU_FAM_EFR32FG1P

config CPU_MODEL_EFR32FG1P132F64GM48
    bool
    select CPU_FAM_EFR32FG1P

config CPU_MODEL_EFR32FG1P133F256GM32
    bool
    select CPU_FAM_EFR32FG1P

config CPU_MODEL_EFR32FG1P131F256GM48
    bool
    select CPU_FAM_EFR32FG1P

config CPU_MODEL_EFR32FG1P131F64GM32
    bool
    select CPU_FAM_EFR32FG1P

config CPU_MODEL_EFR32FG1P132F256GM32
    bool
    select CPU_FAM_EFR32FG1P

config CPU_MODEL_EFR32FG1P131F256IM32
    bool
    select CPU_FAM_EFR32FG1P

config CPU_MODEL_EFR32FG1P131F256IM48
    bool
    select CPU_FAM_EFR32FG1P

config CPU_MODEL_EFR32FG1P132F256GM48
    bool
    select CPU_FAM_EFR32FG1P

config CPU_MODEL_EFR32FG1P131F64GM48
    bool
    select CPU_FAM_EFR32FG1P

config CPU_MODEL_EFR32FG1P131F256GM32
    bool
    select CPU_FAM_EFR32FG1P

config CPU_MODEL_EFR32FG1P133F128GM48
    bool
    select CPU_FAM_EFR32FG1P

config CPU_MODEL_EFR32FG1P131F128GM32
    bool
    select CPU_FAM_EFR32FG1P

config CPU_MODEL_EFR32FG1P133F256GM48
    bool
    select CPU_FAM_EFR32FG1P

config CPU_MODEL_EFR32FG1P132F64GM32
    bool
    select CPU_FAM_EFR32FG1P

config CPU_MODEL_EFR32FG1P132F128GM48
    bool
    select CPU_FAM_EFR32FG1P

## Common CPU symbols
config CPU_FAM
    default "efr32fg1p" if CPU_FAM_EFR32FG1P

config CPU_MODEL
    default "efr32fg1p132f128gm32" if CPU_MODEL_EFR32FG1P132F128GM32
    default "efr32fg1p131f128gm48" if CPU_MODEL_EFR32FG1P131F128GM48
    default "efr32fg1p133f64gm48"  if CPU_MODEL_EFR32FG1P133F64GM48
    default "efr32fg1p132f64gm48"  if CPU_MODEL_EFR32FG1P132F64GM48
    default "efr32fg1p133f256gm32" if CPU_MODEL_EFR32FG1P133F256GM32
    default "efr32fg1p131f256gm48" if CPU_MODEL_EFR32FG1P131F256GM48
    default "efr32fg1p131f64gm32"  if CPU_MODEL_EFR32FG1P131F64GM32
    default "efr32fg1p132f256gm32" if CPU_MODEL_EFR32FG1P132F256GM32
    default "efr32fg1p131f256im32" if CPU_MODEL_EFR32FG1P131F256IM32
    default "efr32fg1p131f256im48" if CPU_MODEL_EFR32FG1P131F256IM48
    default "efr32fg1p132f256gm48" if CPU_MODEL_EFR32FG1P132F256GM48
    default "efr32fg1p131f64gm48"  if CPU_MODEL_EFR32FG1P131F64GM48
    default "efr32fg1p131f256gm32" if CPU_MODEL_EFR32FG1P131F256GM32
    default "efr32fg1p133f128gm48" if CPU_MODEL_EFR32FG1P133F128GM48
    default "efr32fg1p131f128gm32" if CPU_MODEL_EFR32FG1P131F128GM32
    default "efr32fg1p133f256gm48" if CPU_MODEL_EFR32FG1P133F256GM48
    default "efr32fg1p132f64gm32"  if CPU_MODEL_EFR32FG1P132F64GM32
    default "efr32fg1p132f128gm48" if CPU_MODEL_EFR32FG1P132F128GM48
